<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Settings">
	<setting id="quality" type="select" label="Stream Quality" values="Low|Med|High" default="High"/>
	<setting id="language" label="Filter Language" type="select" default="English"    values="All|English" />
	<setting id="region" label="Filter Region" type="select" default="All"    values="All|USA|Australia|Asia|Africa|Canada|Greece|United Kingdom" /> 
	</category> 
</settings>