<settings>
	<category label="Settings">
	<setting default="High" id="quality" label="Stream Quality" type="select" values="Low|Med|High" />
	<setting default="English" id="language" label="Filter Language" type="select" values="All|English" />
	<setting default="All" id="region" label="Filter Region" type="select" values="All|Africa|Asia|Australia|Canada|Greece|United Kingdom|USA" /> 
	</category> 
</settings>